{{! My Numpy Docstring Template }}

{{summaryPlaceholder}}
{{#returnsExist}}

Returns
-------
{{#returns}}
{{typePlaceholder}}
    {{descriptionPlaceholder}}
{{/returns}}
{{/returnsExist}}
{{#yieldsExist}}

Yields
------
{{#yields}}
{{typePlaceholder}}
    {{descriptionPlaceholder}}
{{/yields}}
{{/yieldsExist}}
{{#exceptionsExist}}

Raises
------
{{#exceptions}}
{{type}}
    {{descriptionPlaceholder}}
{{/exceptions}}
{{/exceptionsExist}}